<h1>New gif</h1>

<%= form_for @gif_table do |f| %>

  <% f.object.errors.full_messages.each do |error| %>
    <div class="errors">
      <%= error %>
    </div>
  <% end %>


  <div class="container">
    <%= f.label :url %>
    <%= f.url_field :url, autofocus: true %>
  </div>

  <div>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>



  <div class="container">
    <%= f.submit "Create GifTable" %>
  </div>
<% end %>